#KEmulator platforms
#Fri Apr 03 05:40:20 GMT 2026
loan-12-su-quan-online-lan=SonyEricssonK800
loan-12-su-quan-local=SonyEricssonK800
loan-12-su-quan-offline=SonyEricssonK800
loan-12-su-quan=SonyEricssonK800
